html{
    background: transparent;
}
body {
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.mainWrapper {
    float: left;
    background: #333;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 12px;
    padding: 13px;
    border-radius: 10px;
    margin-top: 0;

}
#v{
    float: right;
    margin-left: 10px;
    margin-top: 3px;
    margin-right: 9px;
}
/* Removed until front-end has platform & bounds detection */
/* .mainWrapper:after {
    content: '';
    position: absolute;
    top: 91%;
    left: 58%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 25px #333;
    border-left: solid 25px transparent;
    border-right: solid 25px transparent;
} */

section {
    width: 100%;
}

form {
    float: left;
    width: 100%;
}

input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

input#submit {
    float: left;
    margin-top: 8%;
    width: 100%;
    background-color: #00a650;
    color: #333;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

input#submit:hover {
    background-color: #004b24;
    color: #fff;
    cursor: pointer;
}

h4 {
    margin-bottom: 5px;
    margin-top: 10px;
}

#title-bar + .mainWrapper{
    margin-top: 28px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#title-bar{
    position: absolute;
    width: 290px;
    left: 20px;
    background: #1f1f1f;
    padding: 6px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#title-bar button{
    float: right;
    border: none;
    margin-left: 6px;
    border-radius: 9px;
    line-height: 16px;
    width: 20px;
    height: 20px;
}
#close-btn{
    background: #F44336;
    color: #ffffff;
}

#min-btn{
    background: #fff;
}

#refresh-btn{
    background: #00a650;
    float: left !important;
    color: #fff;
    width: 23px !important;
    height: 21px !important;
}

.header {
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
    -webkit-user-select: none;
    -webkit-app-region: drag;

}
.header:hover{
    cursor: move;
}

.header img {
    float: left;
    width: 42%;
    margin-left: 5%;
}

.header h2 {
    float: right;
    margin: 0;
    margin-top: 6px;
}

#error {
    float: left;
    font-size: 15px;
    color: #F44336;
    font-weight: bold;
}

#data {
    margin-top: 10px;
    float: left;
}

span {
    font-weight: bold;
    font-size: 15px;
    color: #039f4e;
    padding: 3px;
}

p {
    background: rgba(0, 0, 0, 0.47);
    padding: 5px;
    box-shadow: inset 1px 1px 22px rgba(0, 0, 0, 0.72);
    margin: 6px;
    border-radius: 6px;
    font-style: 13px
}

p .string {
    float: right;
    color: #fff;
    font-weight: normal;
    margin-top: -2px;
    font-size: 14px;
}

#updateBtn {
    display: none;
}